# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Google PageSpeed Insights API (gratuita)
# https://developers.google.com/speed/docs/insights/v5/get-started
GOOGLE_PAGESPEED_API_KEY=

# URL pública de la app (sin trailing slash). Ej: http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
